//Colors
$color-primary:  red; 
$color-primary-light:   lighten(red,1);
$color-primary-dark:   darken(red, 1); 

$color-grey-light:   #f7f7f7;

$color-grey-dark:   #777;
$color-white:   #fff;
$color-black:   #000;

//GRID 
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
