//Colors
$color-primary:  #0A6F6C; 
$color-secondary:  #31B808; 
$color-gradient: linear-gradient( #0A6F6C,  #31B808);


$color-grey-light:   #f7f7f7;
$color-grey-dark:   #777;
$color-white:   #fff;
$color-black: rgb(51, 51, 51);

$box-shadow: 0.8rem 0.8rem 15rem rgba($color-black, 0.4);


//FONT SIZE
$default-font-size: 1.6rem;

//GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-sm: 6rem;
$gutter-horizontal: 5rem;

