.index-body {
    background-image: $color-gradient;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    height: 100vh;
    &::before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: url("../img/bg_pattern_white.svg");
        background-size: 70rem;
        opacity: 0.09;
        @include respond(phone) {
            background-size: 30rem;
        }
    }
    .container {
   
        max-height: 50rem;
        border-right: 3rem;
        max-width: 85rem;
        height: 50rem;
        width: 85rem;
        overflow: hidden;
        background-color: $color-white;
        @include absolutecenter;
        box-shadow: $shadow;
        @include respond(tablet) {
            max-height: 100%;
            height: 50rem;
            max-width: 80rem;
            width: calc(100vw - 2rem);
            
        }
        @include respond(phone) {
            max-height: 100%;
            height: calc(100vh - 6rem);
            width: calc(100vw - 6rem);
            
        }

        &::before {
            @include respond(phone) {

                content: "";
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background: url("../img/bg_pattern.svg");
                background-size: 30rem;
                opacity: 0.05;
                overflow: hidden;
                z-index: -10;
            }
        }
        &__header {
            background: darken($color-grey-white, 5%);
            padding: 2rem;
            position: relative;
            &::after {
                background: $color-gradient;
                content: "";
                height: 1rem;
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                
                @include respond(phone) {
                    height: 1rem;
                    width: 100%;

                }
                
            }
        }
        &__body {
            @include absolutecenter;
            width: 90%;
        }
    }
    .converter {
        // margin-top: 15%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        @include respond(phone) {
            flex-direction: column;
            margin-top: 20%;
            align-items: stretch;
            justify-content: end;



        }
        &__item {
            @include respond(phone) {
                text-align: center;
    
            }
        }
        .input-group {
            display: flex;
            align-items: center;
            margin: 1rem;
            box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
            @include respond(phone) {
                margin: 0;
                margin-top: 2rem;
    
            }
            
            &__amount {
                flex-shrink: 2.5;
                margin-right: 1rem;
                box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);

                @include respond(phone) {
                    margin-right: 0;

        
                }
            }
            &__currency {
                // flex-grow: 1;
                color: $color-primary; // flex-shrink: 1.7;
                font-weight: 300;
                padding: 0;
                text-align: center;
                padding: 2rem;
            }
        }
    }
    .btn {
        // width: 50%;
        // text-align: center;
        // margin: 0 auto;
        // display: block;
        // margin-top: 6rem;
        // bottom: 0;
        // left: 50%;
        // transform: translateX(-50%)
    }
    .results {
        position: absolute;
        bottom: 0;
        padding: 1rem;
        bottom: 0;
        left: 0;
        min-height: 20rem;
        background-image: $color-grey-white;
        
        @include respond(phone) {
            min-height: 20vh;
            padding: 0;
            margin-top: 10%;
            max-height: 20rem;

        }
        

        &::before {
            content: "";
            height: 100%;
            text-align: center;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: url("../img/bg_pattern.svg");
            background-size: 30rem;
            opacity: 0.04;
            overflow: hidden;
            @include respond(phone) {
                background:none;
                margin-top: 2rem;   
                z-index: -100;
                height: 0;     
    
            }
        }
        &__from {
            color: lighten($color-black, 50%);
            font-size: 4.4rem;
            font-weight: 300;
            display: inline-block;
            @include respond(tablet) {
                color: darken($color-black, 50%);
                font-weight: 400;
                font-size: 2.4rem;
                
            }
            @include respond(phone) {
                color: darken($color-black, 50%);
                font-weight: 400;
                font-size: 2.4rem;
                
            }
            span {
                font-size: 3.8rem;
                @include respond(tablet) {
                    font-weight: 400;
                    font-size: 2.3rem;
                }
                @include respond(phone) {
                    font-weight: 400;
                    font-size: 1.4rem;
                }

            }
        }
        &__to {
            display: inline-block;
            color: $color-primary;
            font-weight: 300;
            font-size: 6rem;
            @include respond(tablet) {
                font-size: 4rem;
            }
            @include respond(phone) {
                font-weight: 400;
                font-size: 3rem;
            }
       
            span {
                font-size: 3.8rem;
                color: lighten($color-black, 50%);
                font-weight: 300;
                @include respond(tablet) {
                    color: darken($color-black, 50%);
                    font-size: 2.8rem;
                }
                @include respond(phone) {
                    color: darken($color-black, 50%);
                    font-size: 1.4rem;
                }

            }
        }

      
        &__error {
            font-size: 1.8rem;
            font-weight: 400;
            color: $color-danger !important;
            text-transform: capitalize;
            @include respond(phone) {
            }

            &--message {
                margin: 2rem 0;

            }
            &--btn {
                width: 20rem;
                text-align: center;
                margin: 0 auto;
                font-size: 2.0rem;
                @include respond(phone) {
                      margin: 0 auto;
       
                }
            }
        }
    }
}