
.input {
    background-color: $color-grey-white;
    border: none;
    height: 9rem;
    border-bottom: solid 1rem $color-primary;
    padding: 0 2rem;
    font-size: 1.4rem;
    font-weight: 300;
    width: 100%;
    transition: all 0.3s ease;

    @include respond(phone) {
        height: 7rem;
        font-size: 1.4rem;
        border-bottom: solid .7rem $color-primary;
    }

    
    &__border-secondary {
        border-bottom: solid 1rem $color-secondary;
        
    @include respond(phone) {

        border-bottom: solid .7rem $color-secondary;
    }


    }

    &:focus {
        border: none;
        border-bottom: solid 1rem $color-primary;
        outline: none;
        @include respond(phone) {

            border-bottom: solid .7rem $color-secondary;
        }
    
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
